/* ================== DEFAULT ==================*/
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

* {
    text-decoration: none;
}


button {
    cursor: pointer;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================== BODY ==================*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    line-height: 1.5;
}


.header-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.header-third {
color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}
/* ================== CONTAINER (MOBILE) ==================*/
.container {
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*  ================== HEADER ================== */

/* -------------- MOBILE -------------- */

.menu {
    display: none;
}

.contacts {
    display: none;
}

.logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}

.text-logo {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header {
    padding-top: 16px;
    padding-bottom: 18px;
}

/*  MOBILE-MENU STYLES */

.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
    transition: 250ms;
}

.mobile-menu-close-btn {
    position: absolute;
    padding: 0;
    line-height: 0;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
            }

.mobile-menu-container {
    position: relative;
    padding: 72px;
}

.mobile-menu-navigation {
    margin-bottom: 168px;    
}

.mobile-menu-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mobile-menu-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 0;
        display: block;
}

.mobile-menu-link>.header-two {
    margin-bottom: 0;
}

.ocean {
    color: var(--OCEAN, #404BBF);
}

.mobile-menu-contacts {
    font-style: normal;
}

.mobile-menu-contacts-list {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.header-third.iris {
color: var(--IRIS, #4D5AE5);
}



.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 48px;
    margin-bottom: auto;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.mobile-menu-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.social-link-section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    /*  MOBILE BACKDROP &  MODAL WINDOW STYLES */

        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999999;
            width: 100%;
            height: 100%;
            background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .backdrop.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        /* ===============MODAL-WINDOW ===============*/
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            width: 288px;
            min-height: 632px;
            background: #FCFCFC;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px 24px;
        }
    
    
        .modal-close-btn {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .modal-close-btn-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    

        .order-service-description {
            color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
        }
    
        .order-service-field-wrapper {
            margin-bottom: 8px;
        }
    
    
        .order-service-label {
            display: block;
            color: var(--LIGHT-SLATE, #8E8F99);
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            margin-bottom: 4px;
        }
    
        .order-service-input-wrapper {
            position: relative;
        }
    
        .order-service-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
 
    
        .order-service-input-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
    
        .order-service-field-comment {
            margin-bottom: 16px;
        }
    
        .order-service-textarea-comment {
            width: 100%;
            height: 120px;
            color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            border-radius: 4px;
            border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    

        .order-service-checkbox-wrapper {
            margin-bottom: 24px;
        }
    
        .order-service-checkbox-label {
            color: var(--LIGHT-SLATE, #8E8F99);
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
    
        }
    
        .order-service-own-checkbox {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
            color: var(--IRIS, #4D5AE5);
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-right: 8px;
        }
    
    
        .order-service-checkbox:checked+.order-service-checkbox-label>.order-service-own-checkbox {
            background-color: #404bbf;
            border: none;
            fill: #F4F4FD;
        }
    
        .accent-color {
            color: #4D5AE5;
            line-height: 1;
            letter-spacing: 0.04em;
            text-decoration-line: underline;
        }
    
        .order-service-submit-btn {
            display: block;
            min-width: 169px;
            height: 56px;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
            border: none;
            padding: 16px 32px;
            margin: auto;
            margin-top: 16px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            border-radius: 4px;
            background-color: #4D5AE5;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    

/* -------------- TABLET -------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

/* -------------- DESKTOP -------------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

